div#retrus

script(src="/javascripts/jquery-1.6.2.min.js", type="application/javascript")
script(src="/javascripts/bootstrap-modal.js", type="application/javascript")
script(src="/javascripts/underscore.js", type="application/javascript")
script(src="/javascripts/backbone.js", type="application/javascript")
script(src="/socket.io/socket.io.js", type="application/javascript")
script(src="/javascripts/backbone.iosync.js", type="application/javascript")
script(src="/javascripts/backbone.iobind.js", type="application/javascript")
script(src="/javascripts/retrus.js", type="application/javascript")
