.hero-unit
  h1 Retrus
  p A suite of tools aimed at aiding distributed teams.
  a.btn.btn-primary.btn-large Learn more &raquo;

.row
  .span4
    h2 Retrospective Wall
    p Foo foo foo
    a.btn Make one &raquo;
  .span4
    h2 Heading
    p Foo foo foo
  .span4
    h2 Heading
    p Foo foo foo
