html, body {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
}

.addNote {
  color: #000;
}

#sections-notes {
  float: left;
  width: 80%;
}

#groups {
  float: left;
  width: 20%;
}

.section {
  float: left;
  width: 30%;
}

.notes {
  float: left;
  width: 70%;
}

.section-row {
  width: 100%;
  clear: both;
}

.section-row ul {
  margin: 0;
  list-style: none;
}

.section, .section-row ul li {
  -moz-box-shadow:inset 0 0 11px #000000;
  -webkit-box-shadow:inset 0 0 11px #000000;
  box-shadow:inset 0 0 11px #000000;
  
  min-height: 3em;
/*  height: 100%;*/
}

.add-note input[type=text] {
  width: 100%;
}