<Body:>
  <div class="container-fluid">
    <div class="row-fluid">
      <aside id="sidebar" class="span1">
        <div class="sidebar-nav">
          <ul class="nav nav-tabs nav-stacked">
            <li>
              <a href="#">
                <i class="icon-camera-retro icon-2x"></i><span class="hidden-tablet"> Home</span>
              </a>
            </li> 
            <li class="active">
              <a href="#">
                <i class="icon-ambulance icon-2x"></i><span class="hidden-tablet"> Standup</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-h-sign icon-2x"></i><span class="hidden-tablet"> Retro</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-user-md icon-2x"></i><span class="hidden-tablet"> Foo</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <section id="main" class="span11">
        <div class="row-fluid">
        </div>
      </section>
    </div>
  </div>
