<Body:>
  <div class="landing">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>Built to assist distributed conversations</h1>
          <div id="landingCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <div class="span12">
                    <img src="/img/screen1.png" alt="">
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="span7">
                    <img src="/img/screen2.png" alt="">
                    <div class="carousel-caption">
                      <p>Integrated with Google Hangouts</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="span12">
                    <img src="/img/screen3.png" alt="">
                    <div class="carousel-caption">
                      <p>Real time collaboration</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#landingCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#landingCarousel" data-slide="next">&rsaquo;</a>
          </div>
        </div>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span4">
        <h2>Retrospective Wall</h2>
        <p>A tool for distributed collaboration</p>
      </div>
      <div class="span4">
        <h2>Standup Assistant</h2>
        <p>A tool for distributed standups</p>
      </div>
      <div class="span4">
        <h2>Conversation Meter</h2>
        <p>Assistance in nonverbal communication</p>
      </div>
    </div>
  </div>
