<Body:>
  <div class="row">
    <div class="hero-unit">
      <h1>Easier communication</h1>
      <p>A suite of tools aimed at making distributed conversations better.</p>
      <div>
        {{#if canCreateGroup}}
          <ul>
            <li><button id="new-group" class="btn">Create a group</button></li>
            {{#each groups}}
              <li><a href="/group/{{_id}}">Enter "{{name}}"</a></li>
            {{/each}}
          </ul>
        {{else}}
          Sign in above to create a group
        {{/if}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h2>Retrospective Wall</h2>
      <p>A tool for distributed collaboration</p>
    </div>
    <div class="span4">
      <h2>Standup Assistant</h2>
      <p>A tool for distributed standups</p>
    </div>
    <div class="span4">
      <h2>Conversation Meter</h2>
      <p>Assistance in nonverbal communication</p>
    </div>
  </div>
