<Body:>
  <div class="btn-group">
    <button class="standup-previous btn btn-info"><i class="icon-arrow-up"></i> previous</button>
    <button class="standup-next btn btn-info"><i class="icon-arrow-down"></i> next</button>
  </div>
  <button class="standup-shuffle btn btn-inverse">shuffle {{lastShuffled}}</button>
  <button class="standup-edit btn btn-danger">toggle edit</button>
  <a href="https://plus.google.com/hangouts/_?gid=474121515436&gd={{googleData}}" style="text-decoration:none;" target="_blank" data-bypass>
  <img src="https://ssl.gstatic.com/s2/oz/images/stars/hangout/1/gplus-hangout-24x100-normal.png"
  alt="Start a Hangout"
  style="border:0;width:100px;height:24px;"/>
  </a>
  <table class="standup-member-list table">
  <tbody>
  {{#each members}}
    <tr class="standup-member{{#if selected}} selected{{/if}}">
      <td class="standup-member-name">{{name}}</td>
      <td>
        <button class="delete-standup-member btn btn-mini btn-danger"><i class="icon-trash"></i></button>
      </td>
    </tr>
  {{/each}}
  </tbody>
  </table>
      <form action="javascript:void(0)" id="new-standup-member">
        <input type="text" id="new-standup-member-name" placeholder="New Member" />
      </form>
      <p>
        <a href="/group/{{groupId}}/standup" target="_blank" data-bypass>Launch Standup Assistant in retr.us</a>
      </p>
  {{/if}}
