// current
.standupMember.selected {
  border: 3px solid red;
  font-weight: bold;
}

// after current
.standupMember.selected ~ .standupMember, .standupMember.selected {
  font-size: 32px;
  line-height: 36px;
}
