extends ../layout

block content
  form.form-horizontal(action="/retrospectives", method="post")
    fieldset
      legend Create a new retrospective
      div.control-group
        label.control-label(for="retrospective_name") Name
        .controls
          input.input-xlarge(type="text", name="retrospective[name]", id="retrospective_name")
          span.help-inline For future reference
      div.control-group
        label.control-label(for="retrospective_private") Private?
        .controls
          label.checkbox
            input(type="checkbox", name="retrospective[private]", value="1", id="retrospective_private")
            span.help-inline Check to hide this from the main list
      div.form-actions
        button.btn.btn-primary(type="submit") Save Changes

